.movie-container {
    z-index: 40;
    color: white;
    width: 53%;
    padding-top: 5rem;
    padding-left:20px;
}

.movie-title {
    font-size: 55px;
    font-weight: 600;
    font-family: serif;
}

.movie-info {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    padding-top: 1rem;
}

.genre-separator {
    position: relative;
}

.genre-dot {
    padding:0 10px;
    font-size: 20px;
}

.movie-description {
    font-size: 1.5rem;
    padding-top: 1rem;
    color:#fff;
} 