.carousel-wrapper {
    min-width: 1200px;
    position: relative;
}

.category-header {
    display: flex;
    justify-content: space-between;
    margin-right: 1.5rem;
}

.category-title {
    display: flex;
    align-items: center;
    font-weight: 600;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

.carousel {
    background-color: transparent;
}

.slide-item {
    display: flex;
    align-items: center;
    object-fit: cover;
    color: white;
    background-color: transparent;
}

.slide-content {
    object-fit: cover;
    height: 100%;
    cursor: pointer;
}

.slide-content:hover {
    filter: brightness(1.25);
}

.slide-content.selected {
    border: 4px solid white;
}

.slide-content.not-selected {
    border: 4px solid transparent;
}

.slide-image {
    user-select: none;
    pointer-events: none;
    height: 100%;
    z-index: -1;
}

/* Carousel Navigation Styles */
.carousel__prev,
.carousel__next,
.carousel__prev:hover,
.carousel__next:hover {
    color: white;
} 